:root {
    --dracula0 : #282a36;
    --dracula1 : #44475a;
    --dracula2 : #f8f8f2;
    --dracula3 : #6272a4;
    --dracula4 : #8be9fd;
    --dracula5 : #50fa7b;
    --dracula6: #ffb86c;
    --dracula7: #ff79c6;
    --dracula8: #bd93f9;
    --dracula9: #ff5555;
    --dracula10: #f1fa8c;
}